<!-- <h1>📄 Document World</h1>
<nav> <a routerLink="/jpg-to-pdf" routerLinkActive="active">🖼️ JPG to PDF</a> | <a routerLink="/compress-image"
        routerLinkActive="active">🗜️ Compress
        Image</a> | <a routerLink="/edit-pdf" routerLinkActive="active">✏️ Edit
        PDF</a> | <a routerLink="/pdf-to-word" routerLinkActive="active">📄 PDF to
        Word</a> | <a routerLink="/word-to-pdf" routerLinkActive="active">📝 Word to
        PDF</a>|<a routerLink="/merge-images-to-pdf" routerLinkActive="active">
        🎴 Merge Images to PDF</a>
</nav>
<hr />
<router-outlet></router-outlet> -->

<h1>📄 Document World</h1>

<nav>
  <a routerLink="/pdf-tools" routerLinkActive="active">📄 PDF Tools</a> |
  <a routerLink="/compress-image" routerLinkActive="active">🗜️ Compress Image</a> |
  <a routerLink="/edit-pdf" routerLinkActive="active">✏️ Edit PDF</a> |
   <a routerLink="/protect-pdf-password" routerLinkActive="active">🔒 Protect PDF</a> |
  <a routerLink="/remove-pdf-password" routerLinkActive="active">🔓 Remove PDF</a>
  <!-- <a routerLink="/word-to-pdf" routerLinkActive="active">📝 Word to PDF</a> | -->
  <!-- <a routerLink="/merge-images-to-pdf" routerLinkActive="active">🎴 Merge Images to PDF</a> -->
</nav>

<hr />

<router-outlet></router-outlet>
